{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div id="content">
    <div class="container">
        <div class="page-content">
      
            
            <div class="row">
          
              <div class="col-md-7">
                  
                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Overview</span></h4>
                  
                    <!-- Some Text -->
                    <p>If you could taste celebration it would taste like <strong>TREAT. </strong><br>
                      <br>
                      Treat Ice Cream was won by taste, innovation and quality. It’s a difference you can taste. Which is why we are so loved by our fans and continue to make new ones? Keeping with the times and changing tastes of customers, Treat Ice Cream, as an ice cream brand has come a long way. Fast moving ahead with its path-breaking innovations, strategic roadmap and fruitful partnerships, Treat is all set to become Central India's most loved ice cream brand.<br>
                      <br>
                    All the standards of hygiene and quality control are observed at these plants. Treat has always adopted the latest and the most suitable technique for preparing its ice creams. The motto behind this is to give its customers the best products and retain a satisfactory smile on their faces. Treat scoops out lip-smacking variety of 100% vegetarian ice creams, sundaes, candy bars and novelties.</p>
              </div>
              
                <div class="col-md-5"> 
                  
                    <!-- Start Touch Slider -->
                    <div class="touch-slider owl-carousel owl-theme" data-slider-navigation="true" data-slider-pagination="true" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer autoHeight" style="height: 400px;"><div class="owl-wrapper" style="width: 4320px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px); transform-origin: 360px center; perspective-origin: 360px center;"><div class="owl-item" style="width: 720px;"><div class="item"><img src="images/prdcts/1.jpg"></div></div><div class="owl-item" style="width: 720px;"><div class="item"><img src="images/prdcts/2.jpg"></div></div><div class="owl-item" style="width: 720px;"><div class="item"><img src="images/prdcts/3.jpg">
                    </div></div></div></div>
                        
                        
                    <!-- End Touch Slider -->
                  
                <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="icon-left-open-big"></i></div><div class="owl-next"><i class="icon-right-open-big"></i></div></div></div></div>
              
            </div>
          
            <!-- Divider -->
            <div class="hr1" style="margin-bottom:50px;"></div>
          
            <div class="row">
            
                <div class="col-md-6">
                 </div>
              
                <div class="col-md-6">
                    
                    
                      
                    </div>
                </div>
            
            </div>
            
            
          
            
          
            <!-- Divider -->
            <div class="hr1" style="margin-bottom:50px;"></div>
          
                              

        </div>
    </div>
</div>
{% endblock body %}
